In [1]:
import sqlite3
conn = sqlite3.connect(':memory:')
c = conn.cursor()


def create_tables_sql():
    return """
    create table salary (
       id int,
       employee_id int,
       amount int,
       pay_date date
    );
    create table employee (
       employee_id int,
       department_id int
    );
    """


c.executescript(create_tables_sql())
conn.commit()

In [ ]:
def insert_data_sql() -> str:
    return"""
    insert into salary values (1,1,9000,"2017-03-31");
    insert into salary values (2,2,6000,"2017-03-31");
    insert into salary values (3,3,10000,"2017-03-31");
    insert into salary values (4,1,7000,"2017-02-28");
    insert into salary values (5,2,6000,"2017-02-28");
    insert into salary values (6,3,8000,"2017-02-28");
    insert into employee values (1,1);
    insert into employee values (2,2);
    insert into employee values (3,2);
    """


c.executescript(insert_data_sql())
conn.commit()

In [ ]:
def get_sql():
    return """
        with total_avg as (
                 select s.pay_date,avg(s.amount) as 'total'
                 from salary s
                 group by s.pay_date
            )
             select strftime('%Y-%m',s.pay_date) as pay_month,
                e.department_id,
                (case when avg(s.amount) > total then 'higher'
                         when avg(s.amount) < total then 'lower'
                         else 'same'
                end) as 'comparison'
             from salary s
                 join employee e on s.employee_id = e.employee_id
                 join total_avg on s.pay_date = total_avg.pay_date
                 group by e.department_id, s.pay_date
                 order by s.pay_date desc;
    """

c.execute(get_sql())
result = c.fetchall()
result