<h1><font color=#1661AB>SQL Practice</font color=#1661AB></h1>

<h3><font color=#1661AB>Second Highest Salary</font color=#1661AB></h3>
<p>Write a SQL <strong>query</strong> to get the second highest salary from the Employee table.
<p>If there is no second highest salary, then the query should return null.

In [ ]:
"""
SELECT (
    SELECT DISTINCT e.Salary 
    FROM Employee e
    ORDER BY e.Salary DESC 
    LIMIT 1 OFFSET 1 ) 
AS "SecondHighestSalary";
"""

<h3><font color=#1661AB>N-th Highest Salary</font color=#1661AB></h3>
<p>Write a SQL <strong>Function</strong> to get the second highest salary from the Employee table.
<p>If there is no second highest salary, then the query should return null.

In [ ]:
"""
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
DECLARE miu INT;
SET miu = N - 1;
  RETURN (
      SELECT DISTINCT e.Salary
      FROM Employee e
      ORDER BY e.Salary DESC
      LIMIT 1 OFFSET miu
  );
END
"""

<h3><font color=#1661AB>N-th Highest Salary</font color=#1661AB></h3>
<p>Write a SQL <strong>Function</strong> to get the second highest salary from the Employee table.
<p>If there is no second highest salary, then the query should return null.

In [ ]:
"""
SELECT s.Score, 
    (SELECT COUNT(DISTINCT(s2.Score))
        FROM Scores s2
        WHERE s2.Score > s.Score) +1
        AS Rank
FROM Scores s ORDER BY s.Score DESC;
"""