<h1><font color=#1661AB>SQL Practice</font color=#1661AB></h1>

<h3><font color=#1661AB>Second Highest Salary</font color=#1661AB></h3>
<p>Write a SQL <strong>query</strong> to get the second highest salary from the Employee table.
<p>If there is no second highest salary, then the query should return null.

<font color=#5A191B>
<p>SELECT (
<p>    SELECT DISTINCT e.Salary 
<p>    FROM Employee e
<p>    ORDER BY e.Salary DESC 
<p>    LIMIT 1 OFFSET 1 ) 
<p>AS "SecondHighestSalary";

<font color=#207F4C>
Mark: 本题的知识点在于offset参考和limit选择条数

<h3><font color=#1661AB>N-th Highest Salary</font color=#1661AB></h3>
<p>Write a SQL <strong>Function</strong> to get the second highest salary from the Employee table.
<p>If there is no second highest salary, then the query should return null.

<font color=#5A191B>
<p>CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
<p>BEGIN
<p>DECLARE miu INT;
<p>SET miu = N - 1;
<p>  RETURN (
<p>      SELECT DISTINCT e.Salary
<p>      FROM Employee e
<p>      ORDER BY e.Salary DESC
<p>      LIMIT 1 OFFSET miu
<p>  );
<p>END

<font color=#207F4C>
Mark: 本题在于SQL function

<h3><font color=#1661AB>N-th Highest Salary</font color=#1661AB></h3>
<p>Write a SQL <strong>Function</strong> to get the second highest salary from the Employee table.
<p>If there is no second highest salary, then the query should return null.

<font color=#5A191B>
<p>"""
<p>SELECT s.Score, 
<p>    (SELECT COUNT(DISTINCT(s2.Score))
<p>        FROM Scores s2
<p>        WHERE s2.Score > s.Score) +1
<p>        AS Rank
<p>FROM Scores s ORDER BY s.Score DESC;
<p>"""
 <p><font color=#207F4C>Mark: 排序算法：实际上是数有几个不重复比他大的数

<h3><font color=#1661AB>Consecutive Number</font color=#1661AB></h3>
<p>Write a SQL query to find all numbers that appear at least three times consecutively.

<font color=#5A191B>
<p>select distinct(l1.Num) as 'ConsecutiveNums'
<p>from Logs l1 
<p>    left join Logs l2 on l2.Id = l1.Id +1
<p>    left join Logs l3 on l3.Id = l1.Id +2
<p>    where l1.Num = l2.Num and l1.Num = l3.Num;

<h3><font color=#1661AB>Human Traffic of Stadium</font color=#1661AB></h3>
<p>Please write a query to display the records which have 3 or more consecutive rows and the amount of people more than 100(inclusive).

<font color=#5A191B>
<p>select distinct(s1.id), s1.visit_date,s1.people
<p>from stadium s1, stadium s2, stadium s3
<p>where (s1.people >= 100 and s2.people >= 100 and s3.people >= 100)
<p>    and
<p>(
 <p>   (s1.id = s2.id-1 and s1.id = s3.id-2)
<p>    or
<p>    (s1.id = s2.id-1 and s1.id = s3.id+1)
<p>    or
<p>    (s1.id = s2.id+1 and s1.id = s3.id+2)
<p>)
<p>order by s1.id;
<p><font color=#999999>(此处有一个陷阱：三条连续记录而非三个连续日期，被这个fail了3次OTZ)

<font color=#207F4C>Mark: 区别上面两题：列举出连续出现的数（<font color=#42602D><strong>唯一地：只要判断它在第一个</strong><font color=#207F4C>）和列举出满足条件的<font color=#42602D><strong>所有</strong><font color=#207F4C>连续出现的记录（它在三连首或者中间或者尾都符合）

<h3><font color=#1661AB>Exchange Seats</font color=#1661AB></h3>
<p>Mary is a teacher in a middle school and she has a table seat storing students' names and their corresponding seat ids. The column id is continuous increment. Mary wants to change seats for the adjacent students.
Note: If the number of students is odd, there is no need to change the last one's seat.

<font color=#5A191B>
<p>select s1.id,  ifnull((case 
<p>    when mod(s1.id,2) = 1 
<p>                then (select s2.student from seat s2 where s2.id = s1.id + 1)
<p>    when mod(s1.id,2) = 0 
<p>                then (select s2.student from seat s2 where s2.id = s1.id - 1)
<p>    end), s1.student) as "student"
<p>from seat s1;

<font color=#207F4C>Mark: 本题的点在于IfNull的用法，注意在MySQL中和在SQLite中是不同的，SQLite是IsNull

<h3><font color=#1661AB>Trips and Users</font color=#1661AB></h3>
<p>The Trips table holds all taxi trips. Each trip has a unique Id, while Client_Id and Driver_Id are both foreign keys to the Users_Id at the Users table. Status is an ENUM type of (‘completed’, ‘cancelled_by_driver’, ‘cancelled_by_client’).
<p>
<p>The Users table holds all users. Each user has an unique Users_Id, and Role is an ENUM type of (‘client’, ‘driver’, ‘partner’).
<p>
<p>Write a SQL query to find the cancellation rate of requests made by unbanned users (both client and driver must be unbanned) between Oct 1, 2013 and Oct 3, 2013. The cancellation rate is computed by dividing the number of canceled (by client or driver) requests made by unbanned users by the total number of requests made by unbanned users.
<p>
<p>For the above tables, your SQL query should return the following rows with the cancellation rate being rounded to two decimal places.

<font color=#5A191B>
<p>Select t.Request_at as 'Day', 
<p>    round (sum(case 
<p>            when (t.Status != 'completed') then 1
<p>            else 0
<p>         end)
<p>     /count(*), 2) 
<p>    as 'Cancellation Rate'
<p>from Trips t 
<p>    left join Users u1 on u1.Users_Id = t.Client_Id
<p>    left join Users u2 on u2.Users_Id = t.Driver_Id
<p>where u1.Banned = 'No' and u2.Banned = 'No'
<p>    and t.Request_at between '2013-10-01' and '2013-10-03'
<p>group by t.Request_at;

<font color=#207F4C>Mark: 本题的细小知识点较多
<ol>
    <li>where 与 group by, order by 如何复合
    <li>round 的用法
    <li>between的用法（可能还涉及日期reformat问题）
 </ol>